@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<p>

    <a asp-action="Logout" class="btn btn-danger">Logout</a>
    <a asp-action="ViewAll" class="btn btn-success">ViewAll</a>
</p>
